<div class="wrapper">
    <app-layout-header (toggleMenuSidebar)="toggleMenuSidebar()" (toggleControlSidebar)="toggleControlSidebar()">
    </app-layout-header>
    <app-layout-main-sidebar (mainSidebarHeight)="mainSidebarHeight($event)"></app-layout-main-sidebar>
    <div #contentWrapper class="content-wrapper">
        <app-layout-breadcrumb></app-layout-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <p>layout works!</p>
            </div>
        </section>
    </div>
    <app-layout-footer></app-layout-footer>
    <aside class="control-sidebar control-sidebar-dark"></aside>
    <div id="sidebar-overlay" (click)="toggleMenuSidebar()"></div>
</div>